{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}

<ul id="{{ id }}" class="{{ menu_classes }}">
  {{ menu_items }}
</ul>
<a href="/">
  <img src="/themes/gavias_colin/images/new-mha-logo.png" alt="{{ 'Mental Health America'|t }}" height="100" width="auto" class="stuck fade-in">
</a>
