body.logged-in.toolbar-horizontal .header-v2 {
  top: 0;
}

ul.sf-menu.sf-horizontal ul,
ul.sf-menu.sf-vertical ul, ul.sf-menu.sf-navbar ul ul {
  border-radius: 0;
  padding: 1rem 1rem 2rem 1rem !important;
}

.d-block.d-sm-none.mha-fixed-bottom.mha-black {
  position: fixed;
  z-index: 99999999999999 !important;
}
@media (max-width: 744px) {
  .id_6a21d121-b5f3-4486-bd56-e8efe1b95ba5 .sli-label {
    color: #000! important;
  }

  #email-us .column-inner.bg-size-cover.rounded-corners {
    background-color: rgba(180,46,50,0.9) !important;
  }
}


.topbar .navigation .gva_menu {
  display: flex;
}
.topbar .navigation .gva_menu > li > a {
  float: right;
}

#superfish-main li:nth-child(5) a.sf-depth-1::before,
#block-mhatopbarmenu .gva_menu > li:last-child > a:before {
  display: none !important;
}

@media (max-width: 544px) {
  .tp-caption.text p {
    max-width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
  }
  .tp-mask-wrap .slider-aqua {
    padding: 0 !important;
    border-radius: 0;
  }
  .tp-mask-wrap h1, .tp-mask-wrap h2, .tp-mask-wrap h3 {
    font-size: 25px !important;
  }
  .tp-mask-wrap {
    position: absolute !important;
    top: 50px;
    max-width: 370px;
  }
}

.column-inner.bg-size-cover.red-background.rounded-corners .sli-element p {
  color: white !important;
  font-size: 1.5rem !important;
}

body, p, .node_content p, html, .gsc-column ul li {
  font-size: 1rem !important;
}

h4.mb-3.white-text.connect {
  color: white !important;
  font-size: 2rem;
}
.gsc-image-content.skin-v2:hover .box-content a:hover {
  color: var(--mha-black) !important;
  border: 2px solid #abce3e !important;
}

#footer i.fa:hover {
  color: white !important;
}

.js-form-item.form-item, div#edit-actions--3, div#edit-actions--2 {
  display: inline-block;
}

.mhm-button a.btn-inline {
  font-size:1.2rem !important;
  text-transform: none !important;
  border: #ABCE3E !important;
  background: #ABCE3E !important;
  color: #000 !important;
}

.pride-button a.btn-inline {
  font-size:1.2rem !important;
  text-transform: none !important;
  border: #CBA8C0 !important;
  background: #CBA8C0 !important;
  color: #000 !important;
}

.mhm-button a.btn-inline:hover {
  background: #fff !important;
  border: #ABCE3E !important;
  color: #000 !important;
}

.pride-button a.btn-inline:hover {
  background: #fff !important;
  border: #CBA8C0 !important;
  color: #000 !important;
}

.gsc-image-content.mhm-button .box-content a, .gsc-image-content.mhm-button .box-content a:visited, .gsc-image-content.mhm-button .box-content a:hover, .gsc-image-content.mhm-button .box-content a:active {
  color: #000 !important;
  font-size:1rem !important;
}

.rounded-corners {
  border-radius: 15px;
}

.rounded-corners img {
  border-radius: 15px;
}

.mhm-button .btn-inline:hover {
  background: #fff !important;
  border: #ABCE3E !important;
  color: #000 !important;
}

.btn-theme:hover {
  background: #fff !important;
  border: 2px #9aac2d solid;
  color: #000 !important;
}

.mhm .button-action > a {
  font-size: 1rem !important;
  padding: 10px !important;
  color: #000 !important;
}

.small-headings h4 {
  font-size: 1.1rem !important;
  margin-top:18px !important;
}

#blue-accordian .panel-group .panel, .blue-accordian .panel-group .panel {
  border-color: #97A926 !important;
}

.organization {
  padding-right: 40px !important;
}

.event-full .extra.btn.btn-primary  {
  background-color: #385988 !important;
  font-size: 0.8rem !important;
  text-transform: none !important;
  padding: 10px !important;
  border-radius: 0px !important;
}

.event-full .extra.btn.btn-primary:hover {
  background-color:#fff !important;
  color: #385988 !important;
  border: #385988 1px solid !important;
}

.mhm .gsc-image-content.skin-v2 img {
  border-radius: 5% !important;
}

.borders img {
  border: 5px #ABCE3E solid;
}

.social-graphics {
  padding-right: 20px !important;
}

#blue-accordian .gray-accordion  .panel-group .panel {
  background-color: #eee !important;
  padding: 0px 30px !important;
  font-size: 1.2rem !important;
}

#blue-accordian .gray-accordion .panel .panel-heading .panel-title > a {
  background-color: #eee !important;
}

.team-single-page-2 .team-contact, .team-single-page-2 .team-education {
  display:none;
}

.gsc-image-content.skin-v2 img {
  border-radius: 1.5rem;
}

.gsc-image-content.skin-v2 .box-content {
  padding: 0 !important;
}

.btn-info {
  font-size: 1rem;
}

.gray-accordion h4 {
  text-transform:none !important;
}

.margin-bottom {
  margin-bottom: 20px;
}

.gsc-button.medium.miaw-button {
  border: #385988 1px solid !important;
  color: #385988 !important;
}

.gsc-button.medium.miaw-button:hover {
  color: #fff !important;
}

.gsc-button.large.know-us:hover {
  border: 1px solid #bfe8ea !important;
}

.gsc-button.large.know-us {
  font-size: 1rem !important;
  width:100% !important;
  text-align:center !important;
}

.staff-image img {
  border-radius: 50% !important;
}

.full-size img {
  width: 100% !important;
}

.no-caps {
  text-transform:none !important;
}

.sign-up-button {
  color:#000 !important;
}

#youth-form .sli-button.sli-small {
  background:#fff !important;
  border: 1px solid #66C7CB !important;
}

#youth-form .sli-button.sli-small:hover {
  background:#BFE8EA !important;
  border: 1px solid #66C7CB !important;
}

#youth-form .sli-label {
  color:#000 !important;
}

.gsc-button {
  letter-spacing:1px !important;
}

#superfish-main li:nth-child(6) a.sf-depth-1 {
  color:#000 !important;
  font-size:.8rem !important;
  background: #7eb420 !important;
}

#superfish-main li:nth-child(5) a.sf-depth-1 {
  color:#fff !important;
  font-size:.8rem !important;
  background: #385988 !important;
}

#superfish-main li:nth-child(6) a.sf-depth-1:hover {
  border-radius:15px !important;
  background-color: #E1F0C0 !important;
  color: #000 !important;
}

#superfish-main li:nth-child(5) a.sf-depth-1:hover {
  border-radius:15px !important;
  background-color: #7B2E68 !important;
}

.fa {
  font-size: 1.8rem !important;
}
.topbar .navigation .gva_menu {
  float: inherit !important;
}

#superfish-main li:nth-child(6) a.sf-depth-1::before {
  content:none;
}

@media (max-width: 991px) {
  .mha-search-region-btn button.fa.fa-search {
    margin-top:105px !important;
  }
}

@media (max-width: 700px) {
  .mha-search-region-btn button.fa.fa-search {
    margin-top:115px !important;
  }
}

@media (max-width: 600px) {
  .mha-search-region-btn button.fa.fa-search {
    margin-top:75px !important;
  }
}

@media (max-width: 500px) {
  .mha-search-region-btn button.fa.fa-search {
    margin-top:125px !important;
  }
}
.navigation .gva_menu > li {
  width: inherit !important;
}

.conference-gallery .gsc-our-gallery .item .box-content {
  display:none;
}

.conference-form p {
  color: #000 !important;
  font-weight: strong !important;
}

.conference-form a {
  color: #385988 !important;
}

.conference-form .sli-button {
  background-color: #385988 !important;
  color: #fff !important;
}

.conference-form .sli-button:hover {
  border: 1px solid #385988 !important;
  background-color:#fff !important;
  color: #385988 !important;
}

#blue-accordian.conference-accordion .panel-group .panel {
  border: 1px solid #385988 !important;
}

#blue-accordian.conference-accordion .btn.btn-primary {
  background: #385988 !important;
  color: #fff !important;
  text-transform:none;
}

#blue-accordian.conference-accordion .btn.btn-primary:hover {
  background: #fff !important;
  color: #385988 !important;
  border:1px solid #385988 !important;
}


.conference .gsc-button.extra-large {
  padding: 15px !important;
  margin:0 -30px !important;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width:100%;
}

.rounded-corners-padding {
  padding-right:40px !important;
}

.large-font {
  font-size: 1.6rem !important;
}

@media (max-width: 744px) {
  .large-font {
    font-size:1.2rem !important;
    padding: 10px !important;
  }
}

@media (max-width: 744px) {
  .padding-right {
    padding-right: 30px !important;
  }
}

.gsc-control-wrapper-cse tbody tr:nth-child(odd)  {
  background: #fff;
}

.gsc-control-wrapper-cse table, .gsc-control-wrapper-cse table > tbody > tr > td {
  border: none !important;
  line-height: 2 !important;
}

.gsc-input {
  background: none !important;
  font-size: 1.1rem !important;
  margin: 2px 0 !important;
  height: 2em !important;
}

.gcsc-branding, .gcsc-find-more-on-google {
  display:none !important;
}

.gsc-control-cse .gsc-table-result {
  font-size: 1rem !important;
}

.gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
  font-size: 1.1rem !important;
  font-weight:500 !important;
}

.gsc-control-cse .gs-result .gs-title b, .gsc-contrl-cse .gs-result .gs-title * b {
  font-weight: 800 !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
  background-color: #fff !important;
  border: none !important;
  font-size: 1.1rem !important;
  color: #385988 !important;
}

.large-headings h2, .large-headings h3 {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.7rem !important;
}

.gsc-accordion h3 {
  color: #000 !important;
}

.padding-button {
  width:80% !important;
  margin: 0 auto !important;
  display:block;
}

.blue .sli-button {
  background-color: #385988 !important;
  font-size:1.1rem !important;
  border-radius: 5px !important;
  font-weight:bold !important;
}

.birthday-form .sli-button.sli-small {
  background: #66C7CB !important;
}

.birthday-form .sli-button.sli-small:hover {
  background: #BFE8EA !important;
}

.birthday-form a {
  color: #385988 !important;
}

.alert-light {
  color:#000 !important;
  background-color: #bfe8ea !important;"
}

#mha-alert h2 {
  font-family: 'Montserrat', sans-serif !important;
  margin-top:20px !important;
}

@media (max-width: 500px) {
  .alert-text {
    padding-right:40px !important;
  }
}


.node--type-event .field.field--name-field-event-parent.field--type-entity-reference.field--label-above,
.node--type-event .blazy.blazy--field.blazy--field-placement.blazy--field-placement--full.field.field--name-field-placement.field--type-entity-reference.field--label-above.is-blazy {
  display: none !important;
}

.gsc-button.workplace.extra-large {
  font-size:1.1rem !important;
  text-transform:none !important;
  padding: 50px !important;
}

.gsc-button.workplace-arrow.extra-large {
  font-size:1.1rem !important;
  text-transform:none !important;
  padding: 50px !important;
}

