body.logged-in.toolbar-horizontal .header-v2 {
  top: 0;
}

ul.sf-menu.sf-horizontal ul,
ul.sf-menu.sf-vertical ul, ul.sf-menu.sf-navbar ul ul {
  border-radius: 0;
  padding: 1rem 1rem 2rem 1rem !important;
}

.d-block.d-sm-none.mha-fixed-bottom.mha-black {
  position: fixed;
  z-index: 99999999999999 !important;
}

.topbar .navigation .gva_menu {
  display: flex;
}
.topbar .navigation .gva_menu > li > a {
  float: right;
}

#superfish-main li:nth-child(5) a.sf-depth-1::before,
#block-mhatopbarmenu .gva_menu > li:last-child > a:before {
  display: none !important;
}




@media (max-width: 744px) {
  .id_6a21d121-b5f3-4486-bd56-e8efe1b95ba5 .sli-label {
    color: #000! important;
  }

  #email-us .column-inner.bg-size-cover.rounded-corners {
    background-color: rgba(180,46,50,0.9) !important;
  }
}

