.breadcrumb-content-inner .gva-breadcrumb-content .page-title {
    background: 0 0;
    position: relative;
    margin: 0 0 2rem;
    padding: 0 0 8px;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--mha-navy);
    font-family: din-2014, sans-serif;
    line-height: 1.01;
}

.breadcrumb-content-inner .gva-breadcrumb-content .page-title:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: var(--mha-orange);
    left: 0;
    bottom: 0;
    z-index: 1;
}

.sidebar .block .block-title, .sidebar .block-menu ul li span {
    border-radius: 2px;
}

.sidebar .block-menu ul li {
    margin: 0 !important;
    padding: 0 !important;
}

.sidebar .block .block-title::before {
    position: absolute;
    left: -10px;
    color: var(--mha-orange);
}

.sidebar .block .block-title, .sidebar .block-menu ul li span {
    font-size: 14px;
    margin: .5rem 0 !important;
    background: transparent;
    color: var(--mha-navy) !important;
    font-weight: 600;
}

.sidebar.sidebar-left {
    margin: 0 !important;
}

.btn.btn-primary, a.btn.btn-primary {
    padding: 5px 20px !important;
    margin: 10px 2px 10px !important;
}

.popup-content.info.eu-cookie-compliance-content {
    margin: 1rem 0 0;
}

ul.sf-menu.sf-style-default {
    margin-bottom: 0.5rem;
}

/* TopBar */
.topbar {
    background: var(--mha-navy) !important;
    color: var(--mha-black) !important;
    font-size: inherit;
    padding: 0.35rem 0 !important;
    margin-top: 0 !important;
}

.topbar .navigation .gva_menu {
    float: right;
    background: transparent !important;
}

.topbar ul li {
    line-height: 0;
    margin: 0;
}

.topbar .navigation .gva_menu > li > a {
    color: var(--mha-white) !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: .1rem .6rem 0 1rem!important;
    text-transform: initial !important;
    text-decoration: none !important;
    border-radius: 0;
    letter-spacing: 0 !important;
}

.topbar .navigation .gva_menu > li > a:hover {
    color: var(--mha-lime-bright) !important;
}

.topbar .navigation .gva_menu > li:last-child > a:before {
    content: '\f07a';
    display: inline-block;
    font-size: inherit;
    font-family: 'FontAwesome';
    margin: 0 5px 0 0;
    text-rendering: auto;
    color: var(--mha-lime-bright) !important;
}

.topbar .tele a,
.topbar .tele a:link {
    line-height: 1.1;
    color: var(--mha-white) !important;
}

.topbar .tele a:hover {
    color: var(--mha-lime-bright) !important;
}

.topbar i.fa.fa-phone.mr-2 {
    font-size: 13px !important;
}
