.mha-search-region .btn {
  background: transparent;
  color: transparent;
  box-shadow: none;
}

.mha-search-region-btn button.fa.fa-search {
  background: transparent;
  border: transparent;
}

.mha-search-region .views-exposed-form.bef-exposed-form {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mha-search-region #edit-keys3 {
  background: #ff9e361a;
  border: 1px solid #37588882 !important;
  padding: 0.45rem !important;
  margin: 0;
  font-size: 1rem;
  color: #375888;
}

.mha-search-region-btn button.fa.fa-search.collapsed {
  background: transparent;
  border: transparent;
}

.mha-search-region input[type="submit"] {
  padding: 20px 25px;
  font-weight: 600;
  background: var(--mha-lime);
  color: #fff;
  border-radius: 0;
}

input#edit-reset--2 {
  margin: 0.25rem 0 0;
  width: 83%;
}

#closeButton2 {
  background: transparent;
  border: none;
  margin: 0.2rem 0 0 0.5rem;
  color: #375888;
  font-size: 1.5rem;
  font-weight: normal;
}

.fa-close::before {
  content: "\f00d";
  font-size: 1.5rem;
  font-weight: bolder;
}


/* Header 3 */
.header-v3 .flex-container {
  display: flex;
}

.header-v3 .flex-child {
  flex: 1;
}

.header-v3 .flex-child:first-child {
  margin-right: 20px;
}

.header-v3 .flex-container-2 {
  display: flex;
}

.header-v3 .flex-child-2 {
  flex: 1;
  margin: 0 0 0 -10px;
}

.header-v3 .flex-child-2:first-child {
  margin-right: 5px;
}

header.header-v3 {
  position: relative;
}

header.header-v3 .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

header.header-v3 {
  background: white !important;
}

header button.btn.btn-default {
  background: none!important;
  box-shadow: none !important;
}

.header-v3 .main.main-page {
  margin: 0 !important;
}

@media (max-width: 991px) {
  #mha-features h4 a, #mha-features h4 a:link {
    font-size: 1rem !important;
  }

  .mha-teaser-text .small.white-test p {
    display: none !important;
  }

  .area-main-menu {
    min-height: 0 !important;
  }

  .menu-bar {
    top: -44px !important;
  }

  .mha-search-region-btn button.fa.fa-search {
    background: transparent;
    border: transparent;
  }

  .mha-search-region #edit-keys3 {
    padding: 0.45rem !important;
    width: inherit;
  }

  .mha-search-region .js-form-item.form-item {
    padding: 0 !important;
  }

  .header-main-inner .pt-4 {
    padding-top: 0 !important;
  }

  .col-md-1.col-sm-1.col-xs-1.right-header.mha-search-region-btn {
    float: right;
    position: absolute;
    top: 18px;
    right: 127px;
  }

  .topbar {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .col-md-1.col-sm-1.col-xs-1.right-header.mha-search-region-btn {
    top: -90px !important;
    right: 90px !important;
  }
}
