/* Overrides -- Loads last */
.nav-tabs, .topbar ul, ul.contact-info, ul.menu {
  list-style: none !important;
  padding-left: 0;
}

.node--view-mode-full p {
  margin-top: 0;
  margin-bottom: 10px;
}

body div.body-page {
  background-color: #fff;
}

.site-branding-logo {
  max-height: inherit;
}
.site-branding-logo img {
  max-height: 80px;
  width: auto;
}

header .site-branding-logo img.logo-site {
  display: block !important;
}

/* Form Tweaks */
.js-form-item.form-item {
  padding: 0 0 1rem !important;
}
.field--type-webform {
  margin: 4rem 0;
  padding: 2rem !important;
  background: #f5f5f5 !important;
  border: 1px solid #bbb !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.webform-submission-form .form-actions .webform-button--submit {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  font-size: 12px;
  font-weight: 600;
  padding: 0 35px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-transform: uppercase;
  background: #5468ff;
  color: #fff;
  letter-spacing: 1px;
  border: none;
}

.body-page input[type="text"], .body-page input[type="tel"], .body-page input[type="password"], .body-page input[type="email"], .body-page textarea, .body-page select {
  border: 1px solid #bbb !important;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  padding: 0 10px 0;
}


.path-_022 .item-image {
  max-width: 200px !important;
}

.covid22 table > thead > tr > th,
.covid22 table > thead > tr > td,
.covid22 table > tbody > tr > th,
.covid22 table > tbody > tr > td,
.covid22 table > tfoot > tr > th,
.covid22 table > tfoot > tr > td {
  border-color: #7d7d7d;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  color: black !important;
}

.covid22 table p {
  color: #000 !important;
}

.covid22 h4, .covid22 .h4 {
  font-size: 25px;
  color: #395886 !important;
}

/*** Start Gavias Extra-Large buttons ***/
.gsc-button.extra-large {
  color: #fff;
}

/*** End Gavias Extra-Large buttons ***/

/*** Start sign-up for title ***/
#id_b1cdee07-a320-43c0-9711-9975b633f84d_inner > p > strong > span {
  font-size: 1.625rem !important;
}

/*** End sign-up for title ***/

.covid22 .gsc-heading.style-1 .title {
  font-size: 1.6rem !important;
}

.gsc-column ul li {
  list-style: inherit;
}

.path-mha-staff div#edit-actions {
  margin: 1rem 0 0;
  position: absolute;
  top: 22px;
}

.path-mha-staff table#draggableviews-table-key-staff-page-2-0 {
  margin: 25px 0 0;
}

a.mailto:hover {
  color: #385887 !important;
}

svg.mailto {
  display: none;
}

.path-mha-staff .card.shadow-sm {
  min-height: 670px !important;
}

.revlon h2 {
  font-size: 4rem !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  padding: 2rem 0 0 !important;
}

.revlon .gbb-row-wrapper .icon-row:after {
  display: none !important;
}

.revlon span.icon-row.my-5 {
  display: none !important;
}

.revlon #footer,
.revlon #footer-2 {
  display: none !important;
}


.orange-header h2.block-title.title-view {
  color: #ae5d03 !important;
}

.orange-header .block .block-title {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

.views-element-container ul li {
  list-style: square !important;
  margin: 1rem 1rem !important;
  color: #385887;
  font-weight: normal;
  line-height: 1.4;
}

.center-text h1:first-of-type {
  text-align: center !important;
}

.path-_022 #block-gaviassliderlayerannualconferenceforwardtogether {
  display: none;
}

.agenda .orange-link {
  color: #385887 !important;
}

.views-element-container table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
  font-weight: bold;
}

#white-link a,
#white-link a:link {
  color: #fff !important;
  text-decoration: underline !important;
}

#white-link a:hover,
#white-link a:link:hover {
  font-weight: bold;
}

#block-forwardtogether-2 {
  background: #355989;
}

#edit-submit-conference-agenda, #edit-submit-team {
  background: #0067ff;
  border: none;
  color: #fff;
  padding: 0 2rem;
  text-transform: uppercase;
  margin: 0 0 2rem;
  border-radius: 5px;
}

.views-element-container caption {
  font-size: 22px;
  font-weight: 600;
  background: #6785b1;
  padding: 5px 10px;
  text-align: left;
  color: #fff;
}

.gsc-column ul li::before {
  display: none !important;
}

.on-the-gray .quicktabs-tabpage {
  border: none;
  border-top: 5px solid #ebebeb !important;
}

.on-the-gray .quicktabs-tabs > li > a {
  background: #345988 !important;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.on-the-gray .quicktabs-tabs > li > a:hover,
.on-the-gray .quicktabs-tabs > li.active > a {
  background: rgb(221, 221, 221) !important;
  color: #345988 !important;
}

.mhra li.menu-item {
  display: block;
  width: 100%;
}

.mhra .gva_menu > li > a {
  padding: .5rem !important;
}

header.header-v1 .header-main-inner .header-inner {
  padding-right: 80px !important;
}

.node--type-webform .col-sm-4 {
  float: inline-start !important;
}

.national-spot {
  color: red !important
}

.path-newsroom .btn.btn-primary, .path-newsroom .btn-primary.ext {
  color: #fff !important;
}

div#edit-actions {
  margin: 1rem 0 0;
}

#edit-preview {
  eight: 35px;
  line-height: 35px;
  padding: 0 5px;
  background: #385887;
  color: #fff;
  font-size: 14px;
  width: 120px;
  border: none !important;
  box-shadow: none !important;
  text-transform: initial;
  border-radius: 20px;
  margin: 0 1rem;
}

input[type="submit"],
#edit-wizard-prev {
  height: 35px;
  line-height: 35px;
  padding: 0 2rem;
  background: #385878;
  color: #fff;
  font-size: 14px;
  width: auto;
  border: none !important;
  box-shadow: none !important;
  border-radius: 20px;
  font-weight: 600;
}

#captcha {
  margin: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 70%;
}

.blog-subscribe {
  margin: 2rem 0 0 1rem;
}

#comment-form label {
  font-size: 1rem;
  font-weight: bold;
}

.path-issues .view-all-date h1:first-of-type {
  margin: 0 0 10px 20px !important;
}

.path-issues .view-all-date .views-exposed-form.bef-exposed-form {
  margin: 1rem 2rem;
}

.path-issues .views-element-container caption {
  margin: 0 1rem 2rem;
}

.path-issues .views-element-container {
  background: #fff;
}

.path-issues .view-all-date .gva-view .views-element-container caption {
  margin: 1rem 1rem 2rem;
}

.path-issues .view-all-date h2 {
  font-size: 26px;
  padding: 1rem 0 0 2rem;
}

.path-issues .views-exposed-form.bef-exposed-form label {
  font-weight: 600 !important;
  background: #062552;
  color: #fff;
}

.path-issues input[type="submit"] {
  background: #98a927;
  font-weight: 600 !important;
  color: #000;
  width: 100px;
}

.path-issues .views-element-container table > caption + thead > tr > th a {
  background: transparent;
  color: #fff !important;
}

.path-issues .views-element-container table > thead:first-child > tr:first-child > th a,
.path-issues .views-element-container table > caption + thead > tr:first-child > th {
  background: #062552;
  color: #fff;
}

.path-issues .contextual-region.gva-view.view-page {
  background: #fff;
}

.path-issues .views-exposed-form.bef-exposed-form {
  background: #fff !important;
  padding: 10px !important;
  margin: 1rem 0;
}

.path-issues header .gva-view .view-content-wrap {
  background: #fff;
  padding: 2rem;
  border-top: 5px solid #385886;
}

.path-issues tbody tr:nth-child(odd) {
  background: #fff;
}

.path-issues .views-element-container table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
  padding: 1rem;
  border: none;
}

.path-issues table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
  border: none;
}

.path-issues .views-element-container:nth-child(n+2) header {
  margin: 0;
  padding: 0;
  border-top: 50px solid #fff;
}

.path-issues table > thead:first-child > tr:first-child > th {
  background: #062552;
  color: #fff;
}

.path-issues .gva-view table {
  background: #fff;
  margin-bottom: 0;
  border: 0;
  margin: 0 auto;
  width: 100%;
  border-bottom: 4rem solid #f7f7f7;
  border-left: 3rem solid #f7f7f7;
  border-right: 3rem solid #f7f7f7;
}

.path-issues .gva-view table {
  border-bottom: 4rem solid transparent !important;
  border-left: 3rem solid transparent !important;
  border-right: 3rem solid transparent !important;
}

.path-issues .contextual-region.gva-view.view-page {
  background: #f7f7f7;
}

.h1, h1 {
  font-size: 2.5rem !important;
  text-transform: initial !important;
}

.owl-carousel .owl-nav > div {
  color: #fff !important;
  background: #385887 !important;
  border: none;
}

.gbb-row.row-gradient-1 span,
.gbb-row.row-gradient-1 p,
.gbb-row.row-gradient-1 a h3,
.gbb-row.row-gradient-1 h3 a,
.gbb-row.row-gradient-1 h3 {
  color: #fff !important;
}

.gva-view-grid .item-image {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px !important;
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.gva-search-region .search-content {
  width: 310px !important;
}

#block-views-block-partners-block-2 .item-image,
#block-views-block-partners-block-1 .item-image {
  margin: 0 0 25px 0;
  border: 1px solid #e3dfdf;
  border-radius: 15px;
  padding: 15px;
}

.material-tabs ul.quicktabs-tabs {
  background-color: #98a927;
}

.material-tabs ul.quicktabs-tabs li {
  margin-left: 1rem;
}

ul.quicktabs-tabs li {
  margin-left: 1rem;
}

.body-page #email-us input[type="text"],
.body-page #email-us input[type="tel"],
.body-page #email-us input[type="password"],
.body-page #email-us input[type="email"],
.body-page #email-us textarea,
.body-page #email-us select {
  font-size: inherit !important;
}

header.header-default .main-menu {
  margin: -15px !important;
}

.gva-view-grid .item-image {
  margin: 0 !important;
  border: none;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.gva-search-region {
  z-index: 99999999 !important;
}

#footer a.sli-button {
  color: #fff !important;
  border: 1px solid #ea7901 !important;
  background: #ea7901 !important;
}

.light-accordion .panel-body {
  background: #fff !important;
  color: #000 !important;
  padding: 15px 30px !important;
  margin: 30px !important;
  max-width: 75ch !important;
}

.light-accordion .panel-body ul li {
  color: #000 !important;
}

/* ADD UNDERLINE */
.btn.btn-primary, .btn-primary.ext, a.btn.btn-primary, a.btn-primary .ext {
  text-decoration: none !important;
}

/* DivTable.com */
.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

/* FIX UNDERLINES */
#block-bwm-njord-system-main ul li a,
#page-main-content p a,
#page-main-content p a:link,
p a.ext,
p .ext,
a.mailto,
a.ext {
  text-decoration: underline;
}

.path-position-statements .blue-link a,
.path-position-statements .blue-link a:link,
a.ext {
  text-decoration: underline !important;
}

.path-position-statements .blue-link a:hover {
  text-decoration: none !important;
  color: #ea7901 !important;
}

#blue-accordian .panel .panel-heading .panel-title > a,
.panel .panel-heading .panel-title > a,
.btn.btn-primary,
.btn-primary.ext,
.btn-primary,
.btn.btn-primary,
.btn-primary.ext,
a.btn.btn-primary,
a.btn-primary .ext,
a .btn.btn-primary {
  text-decoration: none !important;
}

.frontpage .gsc-button.extra-large {
  color: #346677 !important;
}

.frontpage .gsc-button.extra-large:hover {
  color: #fff !important;
}

#blue-accordian p,
#blue-accordian ul,
#blue-accordian li,
#blue-accordian span p {
  color: #262626 !important;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  color: #262626 !important;
}

#blue-accordian .panel {
  background: #ffffff !important;
  color: #262626 !important;
}

#blue-accordian .panel .panel-heading .panel-title > a,
#blue-accordian .panel .panel-heading .panel-title > a,
#blue-accordian .btn.btn-primary,
#blue-accordian .btn-primary.ext,
#blue-accordian .btn-primary,
#blue-accordian .btn.btn-primary,
#blue-accordian .btn-primary.ext,
#blue-accordian a.btn.btn-primary,
#blue-accordian a.btn-primary .ext,
#blue-accordian a .btn.btn-primary {
  background: #ffffff !important;
  color: #262626 !important;
}

@media (max-width: 480px) {
  header .gva-view .view-content-wrap {
    padding: .5rem;
  }

  .path-issues .gva-view table {
    border-bottom: 2rem solid #f7f7f7;
    border-left: 1rem solid #f7f7f7;
    border-right: 1rem solid #f7f7f7;
  }
}

/* full_calendar overrides */

.fc-list-heading-main::before {
  font-family: 'FontAwesome';
  font-size: 1rem;
  content: '\f274';
  color: inherit;
  display: initial;
  text-decoration: none;
  margin: 0 0.75rem;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.25em;
  background: #f0f0f0;
  padding: 0.5rem;
  border-radius: 3px;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-popover .fc-header {
  background: #2f5270 !important;
}

.fc-ltr .fc-list-heading-main,
.fc-ltr .fc-list-heading-alt,
.fc-rtl .fc-list-heading-main {
  color: white !important;
  font-size: 1.25rem;
  font-weight: 600;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #e1e1e1 !important
}

.fc-event-dot {
  background-color: #0030574a !important;
}

.fc-list-item-time.fc-widget-content,
.fc-list-item-marker.fc-widget-content,
.fc-list-item-title.fc-widget-content {
  padding: 10px 20px !important;
  font-weight: 600;
}

.fc-button-primary:disabled,
.fc-dayGridMonth-button.fc-button.fc-button-primary {
  color: white !important;
  background-color: #ea7901 !important;
  border-color: #ea7901 !important;
}

.js-drupal-fullcalendar.fc-button.fc-button-primary,
.fc-timeGridWeek-button.fc-button.fc-button-primary,
.fc-listWeek-button.fc-button.fc-button-primary,
.fc-listMonth-button.fc-button.fc-button-primary {
  background: #ea7901 !important;
  border-color: #ea7901 !important;
  color: white !important;
}

.js-drupal-fullcalendar.fc-button.fc-button-primary.fc-button-active,
.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active,
.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active,
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
.fc-listMonth-button.fc-button.fc-button-primary.fc-button-active {
  color: black !important;
  background: #ea7901 !important;
  border-color: #ea7901 !important;
}

.fc-timeGridWeek-view table {
  margin: 0 !important;
}

.fc-timeGridWeek-view .fc-widget-content {
  padding: 0 .17rem;
}

.fc-timeGridWeek-view .fc-time-grid-event .fc-time {
  display: none;
}

.fc-time-grid-event.fc-event.fc-start.fc-end,
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
  background-color: white !important;
  border: 1px solid white !important;
  padding: 5px !important;
}

.fc-time-grid-event.fc-event.fc-start.fc-end {
  margin: 0 0 0 1rem;
}

.fc-timeGridWeek-view .fc-time-grid-event .fc-title {
  padding: 0 1px;
  line-height: 1 !important;
  color: #385887;
}

.fc-listDay-button.fc-button.fc-button-primary.fc-button-active {
  position: relative;
  left: -9999px;
}

.fc-view.fc-dayGridMonth-view.fc-dayGrid-view table {
  margin: 0 !important;
}

.fc-list-item-title a[href]:hover {
  text-decoration: none !important;
}

.fc-ltr .fc-list-heading-alt {
  margin: 0 .75rem 0 0;
}

.fc-time-grid .fc-event {
  position: relative;
}

.fc-day-grid-event .fc-content {
  /* white-space: wrap; */
  overflow: hidden;
  white-space: normal;
}

.fc-view-container * {
  line-height: 1.1;
}

.fc-button:disabled {
  opacity: 1;
}

.fc-list-heading-main {
  padding: .5rem;
}

.fc-list-heading-alt {
  padding: .5rem;
}

.fc-unthemed .fc-list-empty {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 2px;
  font-weight: 600;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: right;
  color: black !important;
  padding: 0.25rem 0.5rem;
}


.fc-scroller {
  height: auto !important;
}

.fc-unthemed .fc-list-empty {
  padding: 2rem;
}

.fc-list-item-time.fc-widget-content,
.fc-list-item-marker.fc-widget-content,
.fc-list-item-title.fc-widget-content {
  padding: 1.25rem 1rem !important;
  font-weight: 600;
}

.frontpage button.fc-today-button.fc-button.fc-button-primary,
.frontpage button.fc-listMonth-button.fc-button.fc-button-primary.fc-button-active,
button.fc-today-button.fc-button.fc-button-primary,
button.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active,
button.fc-listMonth-button.fc-button.fc-button-primary.fc-button-active,
button.fc-listYear-button.fc-button.fc-button-primary.fc-button-active {
  display: none;
}

.fc-list-item-title.fc-widget-content {
  padding: 1.25rem 1rem !important;
  font-weight: 600;
  text-align: left;
}

.fc-list-item-time.fc-widget-content {
  font-weight: 600;
}

.fc-list-item-marker.fc-widget-content {
  padding: 1.3rem 0 0 0 !important;
}

.fc-head-container .fc-widget-header table a,
.fc-head-container .fc-widget-header table a:visited {
  color: white !important;
  font-size: .85rem;
  line-height: 2;
}

.fc-view.fc-timeGridWeek-view.fc-timeGrid-view .fc-timeGridWeek-view th {
  padding: .5rem !important;
}

.fc-view.fc-timeGridWeek-view.fc-timeGrid-view .fc-time-grid .fc-event {
  position: absolute !important;
}

.fc-view.fc-timeGridWeek-view.fc-timeGrid-view .h5 {
  font-size: .8rem;
  color: darkblue !important;
}

.fc-view.fc-timeGridWeek-view.fc-timeGrid-view span {
  font-size: .8rem;
  font-weight: 600;
  color: black;
  padding: .2rem;
}

.menu--event-calendar .gva_menu > li > a, .menu--event-calendar .gva_menu > li.menu-item--active-trail > a {
  padding: .4rem 2rem !important;
  margin: 0 .5rem 0 !important;
  background: #385887 !important;
  color: #fff !important;
  border-radius: 15px;
}

.fc-event-dot {
  margin: 0 .5rem;
}

.panel .panel-heading .panel-title > a::after {
  top: 0 !important;
  right: 0 !important;
  color: #ae5d04 !important;
  font-weight: bold;
}

.panel .panel-heading .panel-title > a:hover {
  color: #ae5d04 !important;
}


.field--name-field-newsletter-image .item-image img {
  border: 0;
  vertical-align: top;
  max-width: inherit;
  height: auto;
  min-width: inherit;
}

.post-content .field__item {
  margin: 0 !important;
}

.btn a.ext {
  text-decoration: none !important;
}

.btn.btn-primary {
  background-color: inherit !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.fc-time, .sf-sub-indicator, .fc-content {
  color: #385887 !important;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end .fc-time {
  display: block;
}

.fc .fc-list-table {
  table-layout: auto;
  border: 7px solid #f0f0f0 !important;
  /* border-radius: 20px !important; */
}

.fc-unthemed .fc-list-view {
  border-color: transparent !important;
}

.event-full .event-info {
  background: #385887 !important;
  color: white;
  padding: 10px 20px;
  font-size: 1.25rem;
}

.node--type-event .fa-calendar:before {
  color: white;
}

.node--type-event .fa-clock-o:before {
  display: none
}

.field.field--name-field-event-time.field--type-string.field--label-hidden.field__item.quickedit-field {
  float: right;
}

.field.field--name-field-event-time.field--type-string.field--label-hidden.field__item.quickedit-field::before {
  content: "\f017";
  font-family: 'FontAwesome';
  color: white;
  margin: 0 10px 0
}

.node--type-event .node__content.clearfix {
  margin: 0 30px;
}

.event-full {
  margin-bottom: 0;
  border: 4px solid #385887;
  background: #fffefe;
}

button.fc-timeGridDay-button.fc-button.fc-button-primary {
  background: #ea7901;
  border: 1px solid #ea7902;
}

a:hover, a:focus, a:active, a:visited {
  color: #ae5e06;
}

.gbb-row .bb-inner {
  padding-top: 0 !important;
  padding-bottom: 80px;
}

.breadcrumbs {
  margin: 40px 0 0;
}

.main.main-page {
  margin: 40px 0 0;
}
