
.fa-search::before {
  font-size: 30px !important;
  color: var(--mha-navy) !important;
  -webkit-text-stroke: 3px white !important;
}

.gva-search-region {
  margin-top: 0 !important;
}

.views-exposed-form.bef-exposed-form {
  background: var(--mha-white) !important;
}

.gva-search-region .search-content {
  top: -30px !important;
  right: 50px !important;;
}

#views-exposed-form-search-everything-page-1 input[type="submit"] {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  background: var(--mha-navy);
  padding: 6px 20px;
  color: var(--mha-white);
  border: none;
  width: auto;
}


#block-exposedformsearch-everythingpage-1-2 .views-exposed-form {
  margin: 0 0 25px;
  border: 1px solid var(--mha-odd);
  background: var(--mha-even)5;
  padding: 10px 10px 5px 10px;
}

#block-exposedformsearch-everythingpage-1-2 .views-exposed-form label {
  display: inline-block;
  max-width: 50%;
  margin-bottom: 5px;
  font-weight: bold;
  background: var(--mha-navy);
  padding: 6px 20px;
  color: var(--mha-white);
}

.body-page #views-exposed-form-search-everything-page-1 input[type="text"] {
  color: var(--mha-black);
  float: left;
  font-weight: 600;
  margin: 0 !important;
  width: 75%;
}

.js-form-item.form-item {
  padding: 0 !important;
}

.header-v2 .gva-search-region {
  margin-top: 30px !important;
}

@media (max-width: 778px) {
    .gva-search-region .search-content {
      width: 100% !important;
      position: absolute !important;
      top: 72px !important;
      right: -60px!important;
      margin-top: -1px !important;
      z-index: 99 !important;
      background: var(--mha-white) !important;
      padding: 20px !important;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)!important;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)!important;
      border: 1px solid rgba(0, 0, 0, 0.1)!important;
    }

  .gva-search-region {
    margin-top: -12px !important;
  }
  .header-v2 .gva-search-region {
    margin-top: -15px !important;
  }
}

@media (max-width: 480px) {
  .gva-search-region .search-content {
    width: 360px !important;
  }

  .body-page #views-exposed-form-search-everything-page-1 input[type="text"] {
  width: 60%;
  }
}
